* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    cursor: none;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    pointer-events: none;
}

.cursor img {
    width: 60px;
    height: 60px;
}

.gallery {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.block {
    position: absolute;
    width: 200px;
    height: 100px;
    background: #c0c0c0;
    transform-style: preserve-3d;
    transform: translateZ(1750px);
}

.block-1 {
    top: 30%;
    left: 55%;
    background: url(../images/item-1.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-2 {
    top: 20%;
    left: 25%;
    background: url(../images/item-2.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-3 {
    top: 50%;
    left: 10%;
    background: url(../images/item-3.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-4 {
    top: 60%;
    left: 40%;
    background: url(../images/item-4.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-5 {
    top: 30%;
    left: 30%;
    background: url(../images/item-5.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-6 {
    top: 60%;
    left: 60%;
    background: url(../images/item-6.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-7 {
    top: 20%;
    left: 50%;
    background: url(../images/item-7.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-8 {
    top: 60%;
    left: 10%;
    background: url(../images/item-8.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-9 {
    top: 20%;
    left: 40%;
    background: url(../images/item-9.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-10 {
    top: 40%;
    left: 60%;
    background: url(../images/item-10.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-11 {
    top: 60%;
    left: 25%;
    background: url(../images/item-11.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-12 {
    top: 30%;
    left: 50%;
    background: url(../images/item-12.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-13 {
    top: 60%;
    left: 25%;
    background: url(../images/item-13.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-14 {
    top: 25%;
    left: 25%;
    background: url(../images/item-14.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-15 {
    top: 50%;
    left: 10%;
    background: url(../images/item-15.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-16 {
    top: 60%;
    left: 40%;
    background: url(../images/item-16.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-17 {
    top: 30%;
    left: 30%;
    background: url(../images/item-17.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-18 {
    top: 60%;
    left: 60%;
    background: url(../images/item-18.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-19 {
    top: 20%;
    left: 50%;
    background: url(../images/item-19.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-20 {
    top: 60%;
    left: 10%;
    background: url(../images/item-20.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-21 {
    top: 20%;
    left: 40%;
    background: url(../images/item-21.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-22 {
    top: 40%;
    left: 60%;
    background: url(../images/item-22.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-23 {
    top: 60%;
    left: 25%;
    background: url(../images/item-23.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.block-24 {
    top: 20%;
    left: 10%;
    background: url(../images/item-24.jpg) 50% 50% no-repeat;
    background-size: cover;
}






















